*{
  background-color:
}

p,h1,ol{
  color:white;
}

#header1{
  background-color:grey;
 
}

#logo{
  background-color:black;
  float:left;
  width:77px;
  height:53px;
  
}

#name{
  background-color:#257b8a;
  height:53px;
  text-align:center;
}

#container1{
 background-color:;
  
}

#text1{
  background-color:#297c8c;
  text-align:center;
}

#article1{
  background-color:#296b8c;
  
  
}

#container2{
  backgroud-color:#751449;
  
}

#text2{
  background-color:#297c8c;
  text-align:center;
  
}

#list{
  background-color:#296b8c;
  width:10%;
  
}
