p,h1{
  color:white;
}

#header1{
  background-color:grey;
 
}
#logo{
  background-color:#27877e;
  
}

#link{
  background-color:#8c7126;
  
}

#container1{
 background-color:grey;
  
}

#text1{
  background-color:#751414;
  
}

#article1{
  background-color:#143b75;
  
}

#container2{
  backgroud-color:#751449;
  
}
